.grid {
    margin: auto;
    width: 400px;
    height: 600px;
    background-color: cornflowerblue;
    position: relative;
    font-size: 200px;
    text-align: center;
    color: darkorchid;
    font-family: Helvetica;
}

.doodler {
    width: 60px;
    height: 85px;
    background-color: darkorchid;
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-color: seagreen;
    position: absolute;
}
